  /*fuente de la página*/
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Quicksand', sans-serif;
  }


  /*-------------- BODY ---------------*/


  .bodyFondo {
      background-image: url("../assets/img/Fondo\ Amarillo.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;


  }

  .bodyFondo--boludecesPagas {
      background-image: url("../assets/img/Fondo\ Rojo.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

  }

  .bodyFondo--muyBerreta {
      background-image: url("../assets/img/Fondo\ Celeste.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

  }

  .bodyFondo--lírico {
      background-image: url("../assets/img/Fondo\ Fucsia.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

  }


  .bodyFondo--haciendores {
      background-image: url("../assets/img/Fondo\ Verde.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;



      /*-------------- HEADER ---------------*/


  }

  .header__contenedor {
      width: 15%;
      display: inline-block;
      padding-top: 20px;
      margin-left: 80px;
      /*ESTE LO PUEDO BORRAR*/

  }

  .header__contenedor__logo {
      width: 50%;
      margin-left: 30px;


  }



  .header__contenedor__slogan img {

      margin-top: 2%;

  }


  .header__contenedor__iconos {
      font-size: 30px;
      color: black;
      margin-right: 10px;

  }

  .fondoColor {
      background-color: blueviolet;
  }


  


  /*Navbar Bst*/

  .navbar-light .navbar-nav .linkNegro {
      color: black;
  }

  /*-------------- PRIMERA SECTION ---------------*/

  .section__contenedor__head {
      margin-top: 3%;
      margin-bottom: 3%;
      font-size: 2rem;
      text-align: center;
      /*background-color: blue;*/

  }


  .section__contenedor__parrafo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 3%;
      text-align: center;


      /*background-color: blueviolet; */

  }


  .section__contenedor__parrafo__span {

      font-weight: bold;
  }


  /*--------------SEGUNDA SECTION---------------*/





  .section__contenedor__head2 {
      margin-top: 3%;
      margin-bottom: 1%;
      font-size: 1.7rem;
      text-align: center;
      /* background-color: blue; */

  }

  .section__contenedor__tarjetas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3%;
      margin-bottom: 3%;

      /*background-color: brown;*/
  }


  .section__contenedor__imagenTexto {

      display: flex;
      margin: 0 auto;
      width: 90%;
      flex-wrap: wrap;
      align-items: center;

      /*background-color: yellow;*/


  }

/*---------MUY BERRETA Gise--------*/

.izquierdaTextoViejoDeM {
  /*height: 50vh; SACAR SI SE SOBREPASA EL TEXTO*/
  display: flex;
  height: 20vh;
  align-items: center;
  padding: 4%;

  background-color: rgb(134, 216, 248);
}

.derechaVideoViejoDeM {


  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  height: 60vh;
  width: auto;

 
  /*background-color: rgb(165, 61, 42);*/



}

.derechaVideoViejoDeM iframe {
  display: flex;
  width: 210px;
  height: 100%;
  object-fit: cover;

}

/*---------FIN MUY BERRETA Gise--------*/


  /*------- LÍRICO Lección Gise --------*/

  .izquierdaTextoLírico {
      /*height: 50vh; SACAR SI SE SOBREPASA EL TEXTO*/
      display: flex;
      align-items: center;
      padding: 4%;

      background-color: rgb(252, 172, 245);
  }

  .derechaTextoLírico {

      height: 50vh;
      /*SACAR SI SE SOBREPASA EL TEXTO*/
      display: flex;
      align-items: center;

      padding: 4%;

      background-color: rgb(252, 172, 245);
  }

  .derechaFotoBondi {
      background-image: url(../assets/img/Cuentos\ de\ Bondi.jpg);
      height: 90vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /* background-color: aqua; */

  }

  .izquierdaFotoEspejo {
      background-image: url(../assets/img/Pedacitos.jpg);
      height: 90vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /* background-color: aqua; */

  }

  /*------- FIN LÍRICO Lección Gise --------*/



  /*------ IMAGEN Y TEXTO EN HACIENDORES Lección Gise ------*/

  .espacioEnPantalla {
      padding: 5%;
      /*background-color: blueviolet*/
      ;
  }

  .alinear {
      align-items: center;
  }


  .izquierdaPelisRewind {
      background-image: url(../assets/img/Tincho\ Tenaglia.png);
      height: 50vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /* background-color: aqua; */


  }

  .izquierdaFlavor {
      background-image: url(../assets/img/Flavio\ Herrera.png);
      height: 50vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /* background-color: aqua; */


  }

  .derechaComicFlavor {
      background-image: url(../assets/img/Flavor-Comic.png);
      height: 50vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /*  background-color: rgb(255, 102, 0);  */


  }



  .derechaTextoHaciendores {
      height: 50vh;
      /*SACAR SI SE SALE EL TEXTO*/
      display: flex;
      align-items: center;

      padding: 4%;

      background-color: rgb(172, 252, 179);
  }



  .izquierdaTextoHaciendores {
      /* height: 40vh; SE LO SACO PARA QUE NO ME COMPLIQUE EN MOBILE*/
      display: flex;
      align-items: center;
      padding: 4%;

      background-color: rgb(172, 252, 179);
  }

  .derechaPelisRewind {

      height: 50vh;
      display: flex;
      flex-direction: column;
      align-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      margin-top: -3%;
      /*background-color: rgb(165, 61, 42);*/



  }

  .derechaPelisRewind iframe {
      display: flex;
      width: 210px;
      height: 100%;
      object-fit: cover;

  }





  /*------ FIN IMAGEN Y TEXTO EN HACIENDORES Lección Gise ------*/




  .section__contenedor__imagenTexto__imagenIzquierda {

      width: 700px;
      height: 700px;
      text-align: center;
      margin-top: -5%;
      /* background-color: blue; */



  }



  .section__contenedor__imagenTexto__imagenIzquierda img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 100%;
  }





  .section__contenedor__imagenTexto__textoDerecha {

      flex: 1 1 auto;
      width: 5%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: rgb(172, 252, 179);
      padding: 5%;
  }

  .section__contenedor__imagenTexto__textoDerecha p {

      color: black;
      text-align: left;
  }

  .section__contenedor__imagenTexto__textoDerecha__pedacitos {
      flex: 1 1 auto;
      width: 5%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: rgb(252, 172, 245);
      padding: 5%;

  }

  .section__contenedor__imagenTexto2 {

      display: flex;

      margin: 0 auto;
      width: 90%;
      flex-wrap: wrap;
      align-items: center;

      /*background-color: blueviolet */


  }

  .section__contenedor__imagenTexto2__imagenDerecha {


      width: 500px;
      height: 500px;
      text-align: center;
      margin-top: -5%;
      margin-left: 5%;
      margin-bottom: 5%;
      /* background-color: aqua;*/




  }

  .section__contenedor__imagenTexto2__imagenDerecha iframe {

      width: 55%;
      height: 100%;
      text-align: center;
      object-fit: contain;
      max-width: 100%;
      background-color: blue;
  }

  .section__contenedor__imagenTexto2__imagenDerecha img {
      display: flex;
      width: 110%;
      height: 110%;
      margin-top: -10%;
      object-fit: contain;
      justify-content: center;

      /*background-color: blueviolet;*/
  }

  .section__contenedor__imagenTexto2__imagenDerecha__bondi {
      display: flex;
      /*width: 550px;
      height: 550px;*/
      width: 30%;
      text-align: center;
      margin-top: 2%;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      flex-direction: column;
      justify-content: center;
      /* background-color: aqua;*/


  }

  .section__contenedor__imagenTexto2__imagenIzquierda__pedacitos {
      display: flex;
      /*width: 550px;
      height: 550px;*/
      width: 30%;
      text-align: center;
      margin-top: 2%;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      flex-direction: column;
      justify-content: center;
      /* background-color: aqua;*/


  }



  .section__contenedor__imagenTexto2__textoIzquierda {

      flex: 1 1 auto;
      width: 20%;
      margin-left: 10%;
      margin-top: -10%;
      background-color: rgb(172, 252, 179);
      padding: 5%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      /* width: 5%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: rgb(172, 252, 179);
      padding: 5%; */

  }


  .section__contenedor__imagenTexto__textoIzquierda p {

      color: black;
      text-align: left;

  }


  .section__contenedor__imagenTexto__textoIzquierda__lirico {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      width: 10%;
      margin-left: 5%;
      margin-top: 2%;
      margin-bottom: 5%;
      background-color: rgb(252, 172, 245);
      padding: 2%;
      text-align: left;
      flex-direction: column;
      justify-content: center;

  }

  .section__contenedor__parrafo__span__espacio__p {
      margin-top: 10px;
  }


 
  /*-------------- FOOTER ---------------*/

  .footer {
      text-align: center;
      background-color: black;
      height: auto;
      padding-top: 2%;
      padding-bottom: 2%;


      /*background-color:rgb(0, 0, 0)*/
  }

  .footer__contenedor__texto {
      color: white;
      margin-bottom: 2%;
  }



  .alineadorImgTxt {
      display: inline-block;
      width: 50%;
      margin-left: 200px;
  }

  .parrafosALaDerecha {
      margin-left: 500px;


  }








  .elementoAlineadoIz {
      margin-left: 100px;
      display: flex
  }

  .parrafoSupDerecho {
      position: relative;
      right: 20px;


  }

  .elementoAlineadoDerecha {
      text-align: right;
      margin-right: 100px;
  }

  .elementoAlineadoDerecha p {
      text-align: left;
  }



  .formularioBloque {

      width: 15%;
      margin: auto;
      margin-bottom: 2%;
      justify-content: center;

      /*background-color: brown;*/
  }



  /*
  .vh {
      height: 100vh;
       Msj al Tutor o Profe: no entiendo por qué no se me aplica el vh 
  }
  */


  @media screen and (min-width: 0px) and (max-width:768px) {


      .header__contenedor__logo {

          width: 60%;

      }



      .header__contenedor__slogan img {

          width: 450px;

      }


      .izquierdaTextoLírico {

         margin-top: 10px;
         margin-bottom: 30px;

      }
      .derechaTextoLírico {

          margin-top: 30px;
          margin-bottom: 10px;

       }




  }