$fuente-principal: 'Quicksand', sans-serif;

$color-cuadrosLirico: rgb(252, 172, 245);

$color-cuadrosHaciendores: rgb(172, 252, 179);

$color-cuadrosMuyBerreta: rgb(134, 216, 248);

$color-cuadrosBoludeces: rgb(245, 139, 125);



/*Maps*/

$menuNavBar: (
    queCarajos: rgb(199, 199, 47),
    boludecesPagas: rgb(211, 38, 8),
    muyBerreta: rgb(5, 146, 151),
    lirico: rgb(214, 58, 214),
    haciendores: rgb(85, 177, 48),
    bold: bold
);